#page {
    width: 800px;
}
#page-content {
    margin-top: 60px;
}
#page-content .form-horizontal {
    width: 400px;
    margin: 0 auto;
}
.flash-message {
    position: fixed;
    left: 10px;
    top: 10px;
    font-size: 10px;
    padding: 10px;
}
form .alert-danger {
    font-size: 12px;
}
.task .panel-footer {
    background-color: #FFF;
}
.task .panel-body {
    max-height: 300px;
    overflow-y: auto;
}
#create-task-form.form-horizontal {
    width: auto;
    background-color: #F5F5F5;
    padding: 20px 10px 10px;
    margin: 0 0 20px;
    border: 1px solid #DDD;
    border-radius: 5px;
    display: none;
}
