#page {
    width: 800px;
}
#page-content {
    margin-top: 60px;
}
#page-content .form-horizontal {
    width: 400px;
    margin: 0 auto;
}
.flash-message {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 10px;
    padding: 10px;
}

form .alert-danger {
    font-size: 12px;
}
